.board-container {
    display       : flex;
    flex-direction: column;
    gap           : 1rem;
    padding       : 1rem;
}

.react-kanban-board {
    color: #9185DF;
}

.react-kanban-board>:nth-child(1) {
    width: 100%;
}

.react-kanban-board>:nth-child(1)>div {
    width: 24%;
}

.react-kanban-column {
    background-color: white;
    border          : 0.1px solid rgba(0, 0, 0, 0.1);
}

.react-kanban-column>:nth-child(2)>div>div {
    width: 100%;
}

.kanban-card {
    border-radius : 2.5px;
    display       : flex;
    flex-direction: column;
    gap           : 1.5rem;
    margin-top    : 1.2rem;
    padding       : 1rem;
    width         : 100%;
}

.kanban-card>:nth-child(1) {
    display        : flex;
    justify-content: space-between;
    width          : 100%;
}

.remove-button {
    background: none;
    border    : none;
    cursor    : pointer;
}

.column-header {
    display        : flex;
    justify-content: space-between;
    padding        : 0px 8px;
    width          : 100%;
}

.column-header>svg {
    cursor: pointer
}