.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 300px;
    background-color: rgba(230, 228, 248,0.7);
    backdrop-filter: blur(50px);
    padding: 25px;
    border-radius: 7px;
    color: black;
    gap: 20px;
}

.tag {
    background-color: #23A9F2;
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.gray {
    display: flex;
    width: 100%;
align-items: center;
justify-content: space-between;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 500;
}

.gray>:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title>:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

.title>:nth-child(2)  {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.cart>:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}

.cart>:nth-child(4)>img {
    width: 35px;
    border-radius: 50%;
}

.btn {
    width: 80px;
    border-radius: 4px;
    color: white;
    padding: 5px;
    margin-top: 7px;
    transition: 300ms;
}

.btn:hover {
   opacity: 0.7;
}

