.container {
    align-items    : start;
    display        : flex;
    flex-wrap      : wrap;
    gap            : 25px;
    justify-content: space-around;
    padding        : 30px;
    width          : 100%;
}

.cart {
    align-items     : start;
    backdrop-filter : blur(50px);
    background-color: rgba(230, 228, 248, 0.7);
    border-radius   : 7px;
    color           : black;
    display         : flex;
    flex-direction  : column;
    gap             : 20px;
    justify-content : center;
    padding         : 25px;
    width           : 300px;
}

.tag {
    background-color: #23A9F2;
    border-radius   : 5px;
    color           : white;
    font-size       : 14px;
    font-weight     : 500;
    padding         : 3px 10px;
}

.gray {
    align-items    : center;
    color          : rgba(0, 0, 0, 0.6);
    display        : flex;
    font-size      : 14px;
    font-weight    : 500;
    justify-content: space-between;
    width          : 100%;
}

.gray>:nth-child(2) {
    align-items    : center;
    display        : flex;
    gap            : 5px;
    justify-content: center;
}

.title {
    display       : flex;
    flex-direction: column;
    gap           : 12px;
}

.title>:nth-child(1) {
    font-size  : 18px;
    font-weight: bold;
}

.title>:nth-child(2) {
    color      : rgba(0, 0, 0, 0.6);
    font-size  : 14px;
    font-weight: 500;
}

.cart>:nth-child(4) {
    align-items    : center;
    display        : flex;
    font-size      : 15px;
    font-weight    : 500;
    gap            : 10px;
    justify-content: start;
    margin-top     : 20px;
}

.cart>:nth-child(4)>img {
    border-radius: 50%;
    width        : 35px;
}

.btn {
    border-radius: 4px;
    color        : white;
    margin-top   : 7px;
    padding      : 5px;
    transition   : 300ms;
    width        : 80px;
}

.btn:hover {
    opacity: 0.7;
}