.wrapper {
    align-items    : start;
    display        : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width          : 100%;
    padding        : 50px 60px;
    gap: 70px;

}

.statistics {
    align-items    : center;
    display        : flex;
    justify-content: space-between;
    width          : 100%;
}

.static {
    align-items     : center;
    background-color: white;
    border-radius   : 12px;
    display         : flex;
    height          : 100px;
    justify-content : space-between;
    padding         : 10px 20px;
    width           : 22%;
}

.static>div {
    display       : flex;
    flex-direction: column;
    font-weight   : 500;
    gap           : 15px;
}

.static>div>:nth-child(2) {
    font-size: 20px;
}

.container {
    align-items     : start;
    background-color: white;
    border-radius   : 12px;
    display         : flex;
    flex-direction  : column;
    gap             : 20px;
    justify-content : center;
    padding         : 20px;
    width           : 35%;
}



.header {
    font-size  : 17px;
    font-weight: 500;
    margin-bottom: 20px;
}

.lesson {
    align-items    : center;
    font-size      : 14px;
    padding        : 10px;
    width          : 100%;
    align-items    : start;
    display        : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lesson>:nth-child(1) {
    padding: 7px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.lesson>:nth-child(2) {
    align-items    : start;
    display        : flex;
    gap            : 10px;
    justify-content: center;
    color: black;
}

.lesson>:nth-child(2)>span {
    background-color: rgb(230, 228, 248);
    padding: 5px 10px;
    border-radius: 5px;
}

